body{    
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARIAAAC4CAMAAAAYGZMtAAAAb1BMVEX///8ICGPWCBjv+vnu7ugAAGAAAF7UAAk6OmpNTYq1X2bcRUz7+/Xs7OzMzMzJycmuPkbc3NxbW4Xh7u3w9vXTAACzW2JwcIR2dpPR0c7L0tG4cHashYj19fLr6+wAAFo2NmmjbHGtOEBeXoNVVXLDQ7y9AAABTklEQVR4nO3Q2VXCABQFwIfZEI2AJsENCWj/NVLF/fCcmRKmamxjjjFvOVXj37oN+X2JWW6HjNt1qnbtu4zLY8U8zUPGvDTVbrtNRp8sGR4yhp0SJUqUKFGiRIkSJUqUKFGiRIkSJUqUKFGiRIkSJUqUKFGiRIkSJUqUKFGiRIkSJUqUKFGiRIkSJUqUKFGiRIkSJUqUKFGiRIkSJUqUKFGiRIkSJUqUKFGiRIkSJUqUKFGiRIkSJUqUKFGiRIkSJUqUKFGiRIkSJUqUKFGiRIkSJUqUKFGiRIkSJUqUKFGiRIkSJUqUKFGiRIkSJUqUKFGiRIkSJUqUKFGiRIkSJUqUKFGiRIkSJUqUKFGiRIkSJUqUKFGiRIkSJUqUKFGiRIkSJUqU/K+Ste/6hO6SLJmHjHlpajy9prx/7EM+v3Yhy/dUdX5OOf+MKU3MVHfPxCYXFYOfDQAAAABJRU5ErkJggg==");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 900px;
    width: 1500px;
}

div {
    width: 60px;
    height: 20px;
    padding-left: 140px;
    color: white;
}
p{
    font-size: 40px;
    color:white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
ol{
    font-size: 30px;
    color:white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
img{
    height: 200px;
}