body{    
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARsAAACyCAMAAABFl5uBAAAASFBMVEX////eEBju8/Ph4eHY2NjfAAu9a2rbAADj6ent7e3gAxDU1NS6TEy9aGjw8vLk5OS6SEizjY2peHq4Pj2urq64tLS8YWHV0dYaECX9AAABnUlEQVR4nO3QuVXDUAAAwY8vmUMSN/13iiGVNoZgpoJ9O8Z6ZM86xvp+Ys/H/TieBnsevUneNG+aN82b5k3zpnnTvGneNG+aN82b5k3zpnnTvGneNG+aN82b5k3zpnnTvGneNG+aN82b5k3zpnnTvGneNG+aN82b5k3zpnnTvGneNG+aN82b5k3zpnnTvGneNG+aN82b5k3zpnnTvGneNG+aN82b5k3zpnnTvGneNG+aN82b5k3zpnnTvGneNG+aN82b5k3zpnnTvGneNG+aN82b9vPm668j/qnbm+vbxJ7Pw7g+Pdyxdb54U7xp3jRvmjfNm+ZN86Z507xp3jRvmjfNm+ZN86Z507xp3jRvmjfNm+ZN86Z507xp3jRvmjfNm+ZN86Z507xp3jRvmjfNm+ZN86Z507xp3jRvmjfNm+ZN86Z507xp3jRvmjfNm+ZN86Z507xp3jRvmjfNm+ZN86Z507xp3jRvmjfNm+ZN86Z507xp3jRvmjfNm+ZN86Z507xp3jRv2u+b5+nM1jTf3rzOF7bml2WM5cCeZXwDzaSSDtbPznoAAAAASUVORK5CYII=");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 900px;
    width: 1500px;
}

div {
    width: 60px;
    height: 20px;
    padding-left: 140px;
    color: white;
}
p{
    font-size: 40px;
    color:white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
ol{
    font-size: 30px;
    color:white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
img{
    height: 200px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}



li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
#header{
    color: white;
    font-size: 50px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}