body{    
    background: linear-gradient( white, blue, red);
}

div {
    width: 60px;
    height: 20px;
    padding-left: 80px;
    color: white;
}
p{
    font-size: 40px;
    color:white;
}
ol{
    font-size: 30px;
    color:white;
}
